@font-face {
    font-family: 'Roboto' ;
    font-style: normal ;
    font-weight: 400 ;
    src: local('Roboto') ,
    url(../Fonts/Roboto-Regular.woff2), 
    url(../Fonts/Roboto-Regular.woff);
}
@font-face {
    font-family: 'Roboto' ;
    font-style: normal ;
    font-weight: 700 ;
    src: local('Roboto') ,
    url(../fonts/Roboto-Bold.woff2), 
    url(../fonts/Roboto-Bold.woff2);
}