* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", 'Arial',sans-serif;
    font-weight: 400;
    color: gray;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    margin-top: 30px;
}
.info-top {
    color: rgb(109, 107, 107);
    font-size: 12px;
    text-align: left;
}
.info-top_kontakti{
    text-align: right;
}
.info-top_kontakti li {
    display: inline-block;
    margin: 0 10px;
    font-size: 12px;
    list-style-type: none;
}

.info-top_kontakti a {
    text-decoration: none;
    color: rgb(109, 107, 107);
}
.logotip {
    font-size: 65px;
    color: rgb(59, 59, 59);
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}
.nav {
    background-color: rgb(59, 59, 59);
    padding:15px 0px;
    border-radius: 10px;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 20px;
}
.nav a {
    font-size: 13px;
    text-decoration: none;
    color: white;
}
.main {
    margin: 30px 0px;
}
.article {
    margin-bottom: 30px;
    color:rgb(59, 59, 59);
}
h1 {
    margin-bottom: 15px;
    font-size: 45px;
}

.footer {
    background-color:rgb(59, 59, 59); 
    color: rgb(168, 167, 167);
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    padding: 50px 0px;
}
.bigfoto li {
    list-style-type: none;
    display: inline-block;
}
.smallfoto li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 1px;
}
.container-small {
    max-width: 350px;
    min-width: 350px;
    border: 1px solid #979797;
}
.social-top {
    margin: 40px 0px;
    border: 2px gray solid ;
}
.social-content {
    display: flex;
    margin: 40px 0px;
    justify-content: space-around;
}
.social-content li {
    list-style-type: none;
}
.social-text {
    font-size: 10px;
}
.social-img {
    display: block;
    max-width: 45px;
    width: 100%;
    margin: 15px auto;
}
.user {
    height: 636px;
}


.user-content {
    margin: 40px 0;
}

.user-content li {
    list-style-type: none;
    display: flex;
    margin: 35px 0 20px 5px;
}

.user-img {
    margin: auto 10px;
}

.user-text {
    margin: auto 5px;
    font-size: 13px;
}

.first-text {
    color: black;
    font-size: 17px;
}
 .news {
    max-width: 810px;
    width: 100%;
    border: 1px solid gray;
}
.text-news {
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.all-h1 {
    width:max-content;
    font-size: 18px;
    text-transform: uppercase;
     color: black;
    border-bottom: 3px black solid;
    margin: 10px;
    padding: 1px 1px 3px 0px;
    position: relative;
}
.all-h1::after{
    display: block;
    content: '';
   border-bottom: 1px #8e8e8e solid;
    width: 330px;
    position: absolute;
    bottom: -2px;
    z-index: -1;

}
.line {
    margin: -5px;
    padding: 0px 0px 5px 2px;
    border-bottom: 3px black solid;
}
.container {
    display: flex;
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px gray solid;
    align-items: center;
}
.container-img {
    margin-right: 20px;
}
.container-title {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}
.container-text p {
    margin-bottom: 10px;
    font-size: 12px;
}
.events-social {
    display: flex;
}
.events-container {
    width: 810px;
    width: 100%;
    border: 1px gray solid;
    margin: 40px 40px 0px 0px;
}
.events  {
    position: relative;
}
.events-h3 {
    text-transform: uppercase;
    color: #000;
    border-bottom: #000 3px solid;
    max-width: max-content;
    margin: 12px 30px;
    padding: 6px 0px;
    position: relative;
}
.events-container1 {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 80px;

}
.big1 {
    width: 360px;
    height: 260px;
    background-image: url(../bckg/Tile-Big-01.png);
    margin-right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.big2 {
    width: 360px;
    height: 260px;
    background-image: url(../bckg/Tile-Big-02.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.events-container2 {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}
.big3 {
    width: 360px;
    height: 260px;
    background-image: url(../bckg/Tile-Big-03.png);
    margin-right: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.big4 {
    width: 360px;
    height: 260px;
    background-image: url(../bckg/Tile-Big-04.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.events-button {
    display: block;
    margin:110px auto 40px auto;
    background-color: rgb(112, 240, 112);
    color: white;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    border: 1px rgb(112, 240, 112) solid 
}
.events-name {
    background-color: lightskyblue;
    color: #000;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    padding:2px 15px ;
    top: 242px;
    max-width: max-content;
}
.events-name1 {
    background-color: rgb(71, 168, 71);
    color: #000;
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    padding:2px 15px ;
    top: 242px;
}
    

.events-name2 {
    background-color: rgb(231, 124, 222);
    color: #000;
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    padding:2px 15px ;
    top: 242px;
}
.events-name3 {
    background-color: rgb(206, 169, 101) ;
    color: #000;
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    padding:2px 15px ;
    top: 242px;
    }
.events-shedule {
    position: absolute;
    top: 265px;
    }
.events-start {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    }
.events-data {
    font-size: 8px;
        color: gray;
    }
.container-video {
    background-color: rgb(230, 228, 228);
    margin-top: 30px;
    padding: 20px;
 }
 .video{
     display: flex;
     justify-content: space-between;
     margin-top: 15px;
     margin-bottom: 20px;
 }
 .video-title {
    text-transform: uppercase;
    color: #000;
    border-bottom: #000 3px solid;
    width: max-content;
    padding: 6px 0px;
 }
 .video-1 {
    width: 280px;
    height: 200px;
    background-image: url(../bckg/video-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    
 }
 .video-2 {
    width: 280px;
    height: 200px;
    background-image: url(../bckg/video-02.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .video-3{  
    width: 280px;
    height: 200px;
    background-image: url(../bckg/video-03.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .video-4{
    width: 280px;
    height: 200px;
    background-image: url(../bckg/video-04.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; 
 }
 .registration {
     padding: 5px 15px;
 }
 .title-form {
     display: block;
     max-width: 200px;
     margin-bottom: 20px;
     color: #5a5858;
     font-weight: bold;
 }
 .input {
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
    padding: 17px 20px 17px 10px;
    border: 1px solid #979797;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
 }
.input::placeholder {
    color: gray;
    
}

.input:hover {
    background-color: white;
    transition-duration: 0.10s;
}

.input:focus {
    background-color: white;
    border-color: #868585;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(124, 124, 124, 0.25);
}
.button-form {
    display: block;
    height: 60px;
    width: 100px;
    background-color: #63db63;
    border-radius: 7px;
    border: none;
    padding: 5px;
    margin: 0 0 0 auto;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.button-form:focus {
    background-color: #289e45;
    outline-color: #227222;
    outline: 1;
}
.button-form:active {
    background-color: #289e45 !important;
    border: 1px solid #227222;
}
.button-form:hover {
    background-color: #289e45;
    transition-duration: 0.3s;
}
